.social-login
    button.social-login--github
        a(href=routes.github)
            span
                i.fab.fa-github 
            | &nbsp;&nbsp;Continue With github 

    button.social-login--facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook
            | &nbsp;&nbsp;Continue With Facebook
    