.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  .video__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-bottom: 10px;

    border-bottom: solid 1px $black;

    button {
      background-color: #0984e3;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 30px;
      margin-top: 20px;
    }

    .video__title {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .video__views-and-date,
    .video__comment-title {
      font-size: 18px;
      color: #646d80;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .video__description {
      font-size: 19px;
      margin-bottom: 8px;
    }

    .video__creator {
      margin-top: 5px;
    }
  }

  .comments__container {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }

  .comment__list {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .comment__content {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 100px;
    max-height: 100px;
    color: black;
    align-items: flex-start;
    justify-content: center;
  }

  .comment__text {
    background-color: gray;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    display: flex;
    margin-left: 10px;
    width: 60%;
    height: 50px;
    color: white;
  }

  .comment__user {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}