.videoPlayer {
  position: relative;
  color: white;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
    .videoPlayer__gradientbox {
      opacity: 0.4;
    }
  }
  video {
    width: 100%;
  }
  .videoPlayer__gradientbox {
    position: absolute;
    bottom: 0px;
    height: 70px;
    width: 100%;
    transition: opacity 0.2s linear;
    background: linear-gradient(to bottom, black, white);
    opacity: 0;
  }

  .videoPlayer__controls {
    i {
      cursor: pointer;
    }
    
    opacity: 0;
    transition: opacity 0.2s linear;
    transition: font-size 0.2s linear;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 9;

    .videoPlayer__column {
      opacity: 1;
      color: white;
      z-index: -1;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .videoPlayer__column:first-child {
      justify-self: start;
      margin-left: 10px;
      margin-right: 20px;

      #jsPlayButton {
        margin-right: 10px;
      }
      #jsVolumeButton {
        margin-right: 10px;
        &:hover {
          input[type=range] {
            display:inline-block;
          }
        }
      }

      input[type=range] {
           display: none;
           width: 60%;
           height: 10px;
      }

    }

    .videoPlayer__column:last-child {
      justify-self: end;
      margin-right: 15px;
      font-size: 15px;
    }
  }
}
