extends layouts/main

block content
    .form__container
        form(action=routes.changePassword(user.id), method="post")
            input(type="password", name="password1", placeholder="Enter password")
            input(type="password", name="password2", placeholder="Verify your password")
            input(type="submit", value="Update password")