extends layouts/main
include mixins/videoBlock

block content
    .videos
        each video in videosDb
            +videoBlock (video)
            +videoBlock (video)
            +videoBlock (video)
            +videoBlock (video)
            +videoBlock (video)
            +videoBlock (video)
        