extends layouts/main
include mixins/videoBlock

block content
    .user-detail__container
        .user-info
            img(src=reqUser.avatarUrl, width="300px", height="300px").user__avatar
            h4.user__name Name: #{reqUser.name}
            p.user__email email: #{reqUser.email}
        
            if reqUser.id === user.id
                a(href=routes.editProfile(reqUser.id))
                    button ✏️ Edit Profile

        .user-videos
            each video in reqUser.videos
                +videoBlock (video)
                
