extends layouts/main

block content
    .user-detail__container
        .user-info
            img(src="", width="300px", height="300px").user__avatar
            h4.user__name Name: User name
            p.user__email email: useremail@user.mail
            a(href=routes.editProfile(user.id))
                button Edit Profile
