.login {
  width: 50%;
  height: 50vh;
}

.form__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 30px;

    input {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    input[type="submit"] {
      @include btnColor;
      min-width: 100px;
      width: 30%;
      margin-left: 10px;
    }
    .comment {
      padding: 10px;
      margin-right: 10px;
      width: 70%;
    }
  }

  button {
    @include btnColor;
  }

  a {
    width: 100%;
    max-width: 320px;
    button {
      width: 100%;
      @include btnColor;
    }
    .delete {
      background-color: #c0392b;
    }
  }
}
