extends layouts/main

block content
    .form__container
        form(action=routes.changePassword(user.id), method="post")
            input(type="password", name="oldpassword", placeholder="Enter current password")
            input(type="password", name="password1", placeholder="Enter new password")
            input(type="password", name="password2", placeholder="Verify your password")
            input(type="submit", value="Update password")
        if inputError
            h1 "VERIFY YOUR PASSWORD CAREFULLY!"